/* CSS file for encrypt-element header */

input[type="file"] { 
    opacity: 0; /* make transparent */
    z-index: -1; /* move under anything else */
    position: absolute; /* don't let it take up space */
  }
      
      
  .custom-file-label {
       content: 'Click to select files to upload';
       display: inline-block;
       /*background: linear-gradient(top, #f9f9f9, #e3e3e3);*/
       background-color: #052E7C;
         color: white;
       /*border: 1px solid #999;*/
       border-radius: 5px;
       font-family: "inter";
       padding: 12px 16px;
       outline: none;
       white-space: nowrap;
       -webkit-user-select: none;
       cursor: pointer;
       /*text-shadow: 1px 1px #000;*/
       font-weight: 600;
       font-size: 11pt;
  }
  
  .custom-file-label:hover {
       content: 'Click to select files to upload';
       display: inline-block;
       /*background: linear-gradient(top, #f9f9f9, #e3e3e3);*/
       background-color: rgba(5, 46, 124, 0.8);
         color: white;
       /*border: 1px solid #999;*/
       border-radius: 5px;
       font-family: "inter";
       padding: 12px 16px;
       outline: none;
       white-space: nowrap;
       -webkit-user-select: none;
       cursor: pointer;
       /*text-shadow: 1px 1px #000;*/
       font-weight: 600;
       font-size: 11pt;
  }
      
      
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
